body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  padding: 40px;
}

h1 {
  color: #000000;
  margin-bottom: 30px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  margin: 10px 0;
}

ul {
  margin: 10px 0 20px 20px;
  padding: 0;
}

li {
  margin-bottom: 6px;
}

ul > li {
  margin-bottom: 6px;
}

.section {
  margin-bottom: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

a {
  color: #888888;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #000000;
  font-weight: 500;
}

.rect-icon {
  display: inline-block;
  width: 6px;
  height: 18px;
  background-color: #2b2b2b;
  margin-right: 8px;
  vertical-align: middle;
}

.indent {
  text-indent: 53px;
  margin: 6px 0;
}

.section-divider {
  border: none;
  height: 4px;
  background-color: #dddddd;
  margin: 24px 0 10px 0;
}
